{% extends "base.html" %}

{% block body %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">

<div class="details_box">
    <form action="{{url_for('display_list')}}" method="get" class="same-line-form">
        <b>Search by name or InChI:</b>
        <label for="search"></label>
        <input type="text" id="search" name="term" title="Search" value="{{term}}">
        <button type="submit">Search</button>
    </form>
    <form action="{{url_for('display_list')}}" method="get" class="same-line-form">
        <button type="submit">Clear Search</button>
    </form>

    <h3>Jump to:
        {% for letter in entries.keys()|sort %}
        <a href="#{{ letter }}">{{ letter }}</a>
        {% endfor %}
    </h3>

    {% if entries|length > 0 %}
    <table class="alternating">
        <thead>
        <tr>
            <th class="left_align">Compound Name</th>
            <th>Entry ID</th>
            <th>Simulation Name</th>
            <th>Field Strength</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        {% for letter in entries.keys()|sort %}
        {% for entry in entries[letter] %}
        {% set outer_loop = loop -%}

        {% for simulation in entry %}
        {% if outer_loop.first %}
        <tr id="{{ letter }}">{% else %}
        <tr>{% endif %}
            {% if loop.first %}
            <td rowspan="{{ entry|length }}" class="left_align"><a href="{{url_for('display_summary', entry_id=simulation[0])}}"
                                                                   title="{{ simulation[4] }}">{{ simulation[1] }}</a>
            </td>
            {% endif %}
            {% if loop.first %}
            <td rowspan="{{ entry|length }}"><a {% if 'bmse' in simulation[0]
                %}href="http://www.bmrb.wisc.edu/metabolomics/mol_summary/show_data.php?id={{ simulation[0] }}"
                target="_blank"{% endif %}>{% if 'bmse' in simulation[0] %}BMRB {% endif %}{{ simulation[0] }}</a></td>
            {% endif %}
            <td><a href="{{url_for('display_entry', entry_id=simulation[0], simulation=simulation[3])}}">{{ simulation[3].title() }}</a></td>
            <td>{{ simulation[2] }}</td>
            <td><a class="fake_button" href="{{url_for('display_entry', entry_id=simulation[0], simulation=simulation[3], some_file='zip')}}">Download</a></td>
        </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>No results!</h1>
    {% endif %}
</div>

<script>
// Use this to highlight the query words in a given text
function highlight_words(words, text){
    const regex = new RegExp("(" + words.join("|") + ")", "ig");
    return text.replace(regex, '<strong>$1</strong>');
}

// These two are for the instant search - at top of page. Do not remove!
function add_color_span_instant(ul, item) {

    const terms = document.getElementById('search').value.split(/[ ,]+/);
    const display = highlight_words(terms, item.name);

    return $("<li></li>")
        .data("item.autocomplete", item)
        .append("<a><span style='cursor:pointer;'>" + display + "</span></a>")
        .appendTo(ul);
}


$(document).ready(function(){$( "#search" ).autocomplete({
    minLength: 2,
    delay: 0,
    source: "{{url_for('name_search')}}",
    select: function( event, ui ) {
        // Don't put the value in the box when they click
        event.preventDefault();
        // Jump to the entry summary page when they click
        window.location.href = "/entry/" + ui.item.id;
        return false;
    }
}).off('blur').on('blur', function() {
    if(document.hasFocus()) {
        $('ul.ui-autocomplete').hide();
    }
}).data("ui-autocomplete")._renderItem = function (ul, item) {
     return add_color_span_instant(ul, item);
}});
</script>

{% endblock %}
