{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
        <div class="details_box">
            <h3>Jump to:
                {% for letter in entries.keys()|sort %}
                <a href="#{{ letter }}">{{ letter }}</a>
                {% endfor %}
            </h3>

            <table class="alternating">
                <thead>
                    <tr>
                        <th class="left_align">Compound Name</th>
                        <th>Entry ID</th>
                        <th>Simulation Name</th>
                        <th>Number of Spins</th>
                        <th>Field Strength</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for letter in entries.keys()|sort %}
                    {% for entry in entries[letter] %}
                    {% set outer_loop = loop -%}

                    {% for simulation in entry %}
                    {% if outer_loop.first %}
                    <tr id="{{ letter }}">{% else %}
                    <tr>{% endif %}
                       {% if loop.first %}<td rowspan="{{ entry|length }}" class="left_align"><a href="/entry/{{ simulation[0] }}" alt="{{ simulation[5] }}" title="{{ simulation[5] }}">{{ simulation[1] }}</a></td>{% endif %}
                       {% if loop.first %}<td rowspan="{{ entry|length }}"><a href="http://www.bmrb.wisc.edu/metabolomics/mol_summary/show_data.php?id={{ simulation[0] }}" target="_blank">{{ simulation[0] }}</a></td>{% endif %}
                       <td><a href="/entry/{{ simulation[0] }}/{{ simulation[3] }}">{{ simulation[3].title() }}</a></td>
                       <td>{{ simulation[4] }}</td>
                       <td>{{ simulation[2] }}</td>
                       <td><a class="fake_button" href="/entry/{{ simulation[0] }}/{{ simulation[3] }}/zip">Download</a></td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
