{% extends "base.html" %}
    {% block head %}
        <title>Mixture Spectra Simulation</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="/js/jquery.csv.min.js"></script>
        <script src="/js/jquery.serialize-object.min.js"></script>
        <script src="/js/mixture.js" defer></script>

    {% endblock %}

    {% block body %}
    <div class="details_box">
        <h1>Mixture Spectra Simulation</h1>

        <form method="post" action="" id="upload" enctype="multipart/form-data">
            <P>Load a compound list from a file: <input type="file" name="experiment_file" id="experiment_file" onchange="openFile()">

            <table class="alternating">
                <thead>
                    <tr>
                        <th></th>
                        <th>Compound Name / ID</th>
                        <th>Compound Concentration</th>
                        <th>Reference Compound</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="compound_anchor">
                        <td><input type="button" value="Add compound" onclick="addCompound()"/></td>
                        <td><input type="text" id="compound_new"><input type="hidden" id="id_new"></td>
                        <td><input type="type" id="concentration_new"></td>
                        <td><input type="checkbox" id="reference_new"></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit">
        </form>
        <div id="results">
        </div>
    </div>

    {% endblock %}
