<div class="details_box">
    <!--{% for compound in input_mixture_info %}
    <p>{{ compound.inchi }}: {{ compound.compound }} ({{ compound.id }}): {{ compound.concentration }} {{ compound.reference }}</p>
    {% endfor %}
    {%  for name in names %}
        {{name}}
    {% endfor %}
    -->
    <script type="text/javascript">
        function my_plot(data){

            var trace1 = {
                x: data[0],
                y: data[1],
                name: 'Mixture',
                marker: {
                    color: 'rgb(255, 0, 0)',
                    size: 12
                },
                type: 'lines'
            };
            var data = [trace1];

            var layout = {
                xaxis: {
                    title: 'PPM',
                    autorange: 'reversed',
                    titlefont: {
                        family: 'Arial, sans-serif',
                        size: 18,
                        color: 'black'
                    }
                },
                yaxis: {
                    fixedrange: false
                },
                showlegend: true
            };

            Plotly.newPlot('myDiv', data, layout, {scrollZoom: true});
        };




    // Used to fetch spectra off the server
    var getJSON = function(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function() {
          var status = xhr.status;
          if (status === 200) {
            callback(null, xhr.response);
          } else {
            callback(status, xhr.response);
          }
        };
        xhr.send();
    };

    // Plot the mixture spectra
    var mixture = {{ mixture_spectra | tojson }};
    my_plot(mixture);

    // asynchronously add the component spectra
    {%  for cmp in compounds %}
         getJSON("/entry/{{ cmp['id'] }}/simulation_1/sim_{{field_strength}}MHz.json", function(err, data) {
            add_spectra(data, '{{ cmp['compound'] }}', '{{ cmp['coefficient'] }}');
        });
    {% endfor %}

    // add a spectra to the plot. First scale the spectra by the coefficient.
    function add_spectra(data, name, coefficient) {

        var plot = document.getElementById('myDiv');

        // Scale based on the coefficient
        for (var i=0; i<data[1].length; i++){
            data[1][i] = data[1][i] * coefficient;
        }

        var new_trace = {
            x: data[0],
            y: data[1],
            name: name,
            marker: {
                color: 'rgb(0, 255, 0)',
                size: 12
            },
            type: 'lines'
        };
        Plotly.addTraces(plot, new_trace);
    }

    </script>
    {% if skipped %}<p>Skipped the following compounds due to data source issues: {{ skipped|join(", ") }}</p>{% endif %}
    {% if mixture_spectra is defined %}
    	<div id="myDiv" class="shift_graph">
    {% endif %}


</div> 
