{% extends "base.html" %}
{% block body %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">

<div class="details_box">

<form action="/search" method="get">
    <div class="input-field">
        <fieldset>
            <legend><b><font size="5">Search by name or InChI</font></b></legend>
            <input type="text" id="search" name="term" title="Search" value="{{title}}">
            <button type="submit">Search</button>
        </fieldset>
    </div>
</form>

{% if title %}
{% if results|length > 0 %}
<h2>Search results for query: '{{ title }}'</h2>
<table class="alternating">
    <thead>
        <tr>
            <th align="left">Name</th>
            <th align="left">ID</th>
        </tr>
    </thead>
    <tbody>
        {% for item in results %}
        <tr>
            <td>{{ item.name }}</td>
            <td><a href="{{url_for('display_summary', entry_id=item.id)}}">{{ item.id }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>No results!</h1>
{% endif %}
{% endif %}

</div>

<script>
// Use this to highlight the query words in a given text
function highlight_words(words, text){
    regex = new RegExp("(" + words.join("|") + ")", "ig");
    return text.replace(regex, '<strong>$1</strong>');
}

// These two are for the instant search - at top of page. Do not remove!
function add_color_span_instant(ul, item) {

    console.log(ul, item);
    var terms = document.getElementById('search').value.split(/[ ,]+/);
    var display = highlight_words(terms, item.name);

    return $("<li></li>")
        .data("item.autocomplete", item)
        .append("<a><span style='cursor:pointer;'>" + display + "</span></a>")
        .appendTo(ul);
}


$(document).ready(function(){$( "#search" ).autocomplete({
    minLength: 2,
    delay: 0,
    source: "{{url_for('name_search')}}",
    select: function( event, ui ) {
        // Don't put the value in the box when they click
        event.preventDefault();
        // Jump to the entry summary page when they click
        window.location.href = "/entry/" + ui.item.id;
        return false;
    }
}).off('blur').on('blur', function() {
    if(document.hasFocus()) {
        $('ul.ui-autocomplete').hide();
    }
}).data("ui-autocomplete")._renderItem = function (ul, item) {
     return add_color_span_instant(ul, item);
}});



</script>
{% endblock %}
