{% extends "base.html" %}
    {% block head %}
        <title>GISSMO - {{ name }}</title>
    {% endblock %}

    {% block body %}
    <div class="details_box">
        <h1>{{ name }}</h1>
        <h3>Simulations available:</h3>
        <table class="alternating">
            <tr>
                <th>Simulation</th>
                <th>Field Strength</th>
                <th>Data</th>
            </tr>
            <tr></tr>

            {% for sim in data -%}
            <tr>
                <td class="left_align"><a href="/entry/{{ sim.entry_id }}/{{ sim.sim }}">{{ sim.sim.title() }}</a></td>
                <td>{{ sim.field_strength }}</td>
                <td><a class="fake_button" href="/entry/{{ sim.entry_id }}/{{ sim.sim }}/zip">Download</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% endblock %}
