{% extends "base.html" %}
    {% block head %}
        <title>GISSMO Tutorials</title>
    {% endblock %}

    {% block links %}
    {% endblock %}

    {% block body %}

    <div>
        <h2>GISSMO Tutorials</h2>
	<h3>GISSMO-GUI v 2.0</h3>
		<ul style="list-style-type:none">
			<li>Simple functions <a href="/static/GISSMO_v2_tutorial_1.pdf" download>Download</a></li>
		</ul>
        <h3>GISSMO-GUI v 1.0</h3>
		<ul style="list-style-type:none">
			<li><a href="/static/GISSMO_Tutorial.pdf" download>Download tutorial</a></li>
		</ul>
    </div>


    {% endblock %}
