{% extends "base.html" %}
    {% block head %}
        <title>GISSMO VM Download</title>
    {% endblock %}

    {% block links %}
    {% endblock %}

    {% block body %}

    <div class="details_box">
        <h1>GISSMO virtual machine</h1>
	<p>The VM contains the GISSMO software package and our database of BMRB metabolites as of September 19, 2017.</p>
        <p>Note that this is a 64-bit virtual machine. It may require enabling virtulation in your computer's BIOS.</p>
        <p><a class="fake_button" href="static/vm/NMRFAM_GISSMO.ova">Download</a></p>
        <p><b>File size</b>: 6.6 GB</p>
        <p><b>MD5</b>: 40b60c10a896aa935dda71e5bd1e7faf</p>
    </div>
    {% endblock %}
