{% extends "base.html" %}
    {% block head %}
        <title>GISSMO VM Download</title>
    {% endblock %}

    {% block links %}
    {% endblock %}

    {% block body %}

    <div class="details_box">
        <h2>GISSMO virtual machine</h2>
	<p>The VM contains the GISSMO software package and our database of BMRB metabolites as of September 19, 2017.</p>
        <p>Note that this is a 64-bit virtual machine. It may require enabling virtulation in your computer's BIOS.</p>
        <p><a class="fake_button" href="static/vm/NMRFAM_GISSMO.ova">Download</a></p>
        <p><b>File size</b>: 6.6 GB</p>
        <p><b>MD5</b>: 40b60c10a896aa935dda71e5bd1e7faf</p>
	<hr>
        <h2>GISSMO-GUI standalone</h2>
	<ul>
		<li><b>Windows</b>: Note that you need to install <a href="https://www.mathworks.com/products/compiler/matlab-runtime.html" target="_blank">MATLAB runtime library (2016a)</a> to run this binary file:<br>
		        <a class="fake_button" href="static/vm/GISSMO_windows.zip">Download</a>
		        <b>File size</b>: 8.6 MB
		</li>
	</ul>
    </div>
    {% endblock %}
